secrets/
*.env
*.key
*.pem
*.crt
id_rsa
id_rsa.pub
authorized_keys

/etc/wireguard/
wg0.conf
*.conf

/var/lib/mysql/
/var/lib/postgresql/
/opt/nextcloud/

docker-data/
volumes/
backup/*.tar*
backup/*.gpg
